<section class="<%= banner_classes %>" style="<%= banner_style %>">
  <div class="absolute bottom-8 right-16 left-8 md:right-24 md:left-auto md:bottom-12 z-10 max-w-2xl text-right">
    <h1 class="<%= brand_name_classes %> mb-3 md:mb-4">
      <%= brand.name %>
    </h1>
  </div>
</section>
