<div class="product-info-container space-y-6">
  <!-- Product Header -->
  <%= render Products::ProductHeaderComponent.new(
        product_info: product_info,
        product: product
      ) %>
  <!-- Price + Stock -->
  <%= render "products/pricing", product_data: product_data %>
  <!-- Variant Selection -->
  <%= render "products/variant_selector", 
      product: product, 
      variant_options: variant_options, 
      stock_info: stock_info, 
      product_data: product_data %>
  <!-- Product Actions with Turbo Frame -->
  <%= render "products/cart_actions", 
      product: product, 
      product_data: product_data, 
      stock_info: stock_info %>
</div>
