<button class="btn-show-more"
        data-action="click->product-grid#loadMore"
        data-product-grid-target="loadMoreBtn"
        data-product-grid-next-page-value="<%= next_page %>"
        id="load-more-button">
  Show more
</button>
