<button class="btn-show-more"
        data-action="click->catalog--product-grid#loadMore"
        data-catalog--product-grid-target="loadMoreBtn"
        data-catalog--product-grid-next-page-value="<%= next_page %>"
        id="load-more-button">
  Show more
</button>
