<div id="variant-selector">
  <%= render Products::VariantSelectorComponent.new(
        product: product,
        variant_options: variant_options,
        stock_info: stock_info,
        product_data: product_data
      ) %>
</div>